@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap");
/* Variables */
/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
/* mixins */
/* animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes bounce {
  25% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  75% {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
}

@keyframes bounce {
  25% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  75% {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
}

/* WEB CSS */
* {
  margin: 0;
  padding: 0;
}

#canvas {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bg {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/public/images/mountain_PNG18.png);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #acb9b5;
  font-family: "Darker Grotesque", sans-serif;
  /* default document font size = 16px, 1rem = 16px, 100% = 16px, 62.5% = 10px */
  font-size: 100%;
  /* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
  line-height: 1;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 768px) and (min-height: 576px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 992px) and (min-height: 576px) {
  html {
    font-size: 130%;
  }
}

@media (min-width: 1200px) and (min-height: 768px) {
  html {
    font-size: 140%;
  }
}

body {
  background: #4d6680;
}

.center {
  text-align: center;
}

.in-front {
  position: relative;
  z-index: 2;
}

.trans-bold {
  font-weight: bold;
  opacity: 0.7;
}

.semi-visible {
  font-size: 0.6em;
  opacity: 0.5;
}

/* START NAVBAR */
#navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #303f50;
  -webkit-box-shadow: 0 0.1px 5px black;
          box-shadow: 0 0.1px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 10;
}

#navbar a {
  color: #acb9b5;
  text-decoration: none;
}

#nav-head {
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-transform: uppercase;
}

#nav-head .start-link:hover {
  display: block;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header p {
  text-align: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-right: 3em;
}

.nav-link {
  text-align: center;
  width: 5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-link a {
  display: block;
  padding: 0.6em 0.1em;
}

.nav-link:hover {
  background: #be3144;
}

.ham {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0em;
  right: 0.5em;
  margin: 1px;
  width: 2em;
  height: 2em;
  z-index: 11;
}

.ham .line {
  display: block;
  width: 1.8em;
  height: 0.2em;
  margin: 0.35em auto 0.2em auto;
  background: #acb9b5;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ham.active .line:first-child {
  -webkit-transform: rotate(45deg) translate(0.4em, 0.4em);
          transform: rotate(45deg) translate(0.4em, 0.4em);
}

.ham.active .line:nth-of-type(2) {
  opacity: 0;
}

.ham.active .line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(0.4em, -0.4em);
          transform: rotate(-45deg) translate(0.4em, -0.4em);
}

.hide {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

/* END NAVBAR */
/* START WELCOME SECTION */
#welcome-section {
  height: 100vh;
  background: #303841;
  -webkit-box-shadow: 0 0 0.2rem #303841;
          box-shadow: 0 0 0.2rem #303841;
  text-shadow: 0px 0.5px 2px black;
  font-size: 1.6em;
}

.welcome {
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 100%;
  max-width: 60rem;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.welcome .hello {
  padding-top: 25vmin;
}

@media (min-width: 576px) {
  .welcome .hello {
    padding-top: 20vmin;
  }
}

@media (min-width: 992px) and (min-height: 576px) {
  .welcome .hello {
    padding-top: 50vmin;
    padding-left: 10vmin;
  }
}

@media (min-width: 1200px) and (min-height: 768px) {
  .welcome .hello {
    padding-top: 40vmin;
    padding-left: 10vmin;
    font-size: 1.3em;
  }
}

.welcome .hello h1, .welcome .hello p {
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

.welcome .profile-photo {
  position: relative;
  margin: 1em auto 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  height: 200px;
  width: 200px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  background: #acb9b5;
  z-index: 0;
}

@media (min-width: 576px) {
  .welcome .profile-photo {
    height: 8em;
    width: 8em;
  }
}

@media (min-width: 992px) and (min-height: 576px) {
  .welcome .profile-photo {
    position: absolute;
    bottom: 0.9rem;
    left: 0.3em;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    overflow: visible;
    height: 12em;
    width: 12em;
  }
}

@media (min-width: 1200px) and (min-height: 768px) {
  .welcome .profile-photo {
    height: 15em;
    width: 15em;
  }
}

.welcome .profile-photo .photo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  background-image: url(/public/images/profilowe2.png);
}

.hide-hello {
  -webkit-transform: rotateX(180deg) translateY(-200%) scale(0.01);
          transform: rotateX(180deg) translateY(-200%) scale(0.01);
}

/* END WELCOME SECTION */
/* START ABOUT SECTION */
#about-section {
  overflow: hidden;
  background: #acb9b5;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  border-radius: 0.5em;
  color: #303841;
  font-size: 1.2em;
  width: 90%;
  max-width: 60rem;
  margin: -1em auto 0 auto;
  position: relative;
}

.about {
  padding: 1em;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.about h2 {
  color: black;
  font-weight: bold;
}

/* END ABOUT SECTION */
/* START SKILL SECTION */
#skill-section {
  overflow: hidden;
  font-weight: normal;
  text-shadow: 0px 0.5px 2px black;
  padding-top: 1em;
  margin: 1em auto 1em auto;
  max-width: 40rem;
  width: 90%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0 0.5em 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.skill-img {
  height: 3em;
  width: 3em;
}

.skill-comment {
  padding-left: 0.2em;
  font-size: 1.1em;
  max-width: calc(100% - 3em);
}

.slide-up {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  opacity: 0;
}

/* END SKILL SECTION */
/* START PROJECT SECTION */
#project-section {
  padding-top: 1em;
  margin: 1em auto 0 auto;
  width: 100%;
  max-width: 60rem;
  font-weight: normal;
  text-shadow: 0px 0.5px 2px black;
}

#slider {
  margin: 0.5em auto 0 auto;
  background: gray;
  position: relative;
  width: 20rem;
  height: 15rem;
  max-width: 90vmin;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 20rem;
  height: 15rem;
  max-width: 90vmin;
  z-index: 1;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: -20rem;
  width: 10000px;
}

.slides.shifting {
  -webkit-transition: left .2s ease-out;
  transition: left .2s ease-out;
}

.slide {
  font-size: 2em;
  width: 20rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: green;
  max-width: 90vmin;
}

.slide img {
  width: 80%;
  height: 80%;
  background: #b89f72;
}

#prev, #next {
  border-radius: 5%;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: calc(50% - 1.5em);
  padding: 1em .5em 1em .5em;
  z-index: 2;
}

#prev:hover, #next:hover {
  background: #be3144;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
}

#next {
  right: 0;
}

/* END PROJECT SECTION */
/* START CONTACT SECTION */
#contact-section {
  background: #303841;
  font-size: 1.6em;
  margin: -1em auto 0 auto;
  padding: 2em 0 1em 0;
  -webkit-box-shadow: 0 0 0.2rem #303841;
          box-shadow: 0 0 0.2rem #303841;
  text-shadow: 0px 0.5px 2px black;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em auto 0 auto;
  max-width: 50em;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-icons .contact-text {
  text-decoration: none;
  color: white;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6em;
  margin: 0.1em 0.3em;
  -webkit-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}

.contact-icons .contact-text:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #be3144;
  font-weight: bold;
}

.contact-icons .icon {
  max-height: 1em;
  max-width: 50%;
  margin-top: 0.2em;
}

.bounce {
  -webkit-animation: bounce 1.0s ease-in-out;
          animation: bounce 1.0s ease-in-out;
}

/* END CONTACT SECTION */
/*# sourceMappingURL=style.css.map */