@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap");
/* Variables */
/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
/* mixins */
* {
  margin: 0;
  padding: 0;
}

#particles-js {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bg {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/public/images/mountain_PNG18.png);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #acb8b4;
  font-family: "Darker Grotesque", sans-serif;
  /* default document font size = 16px, 1rem = 16px, 100% = 16px, 62.5% = 10px */
  font-size: 100%;
  /* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
  line-height: 1;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 130%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 140%;
  }
}

body {
  background: #4d6680;
}

.trans-bold {
  font-weight: bold;
  opacity: 0.7;
}

.semi-visible {
  font-size: 0.6em;
  opacity: 0.5;
}

/* START NAVBAR */
#navbar {
  background: #303f50;
  -webkit-box-shadow: 0 0.1px 5px black;
          box-shadow: 0 0.1px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 1;
}

#nav-head {
  padding-left: 0.3em;
  text-transform: uppercase;
}

header p {
  text-align: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-right: 4em;
}

.nav-link {
  text-align: center;
  width: 5em;
}

.nav-link a {
  color: #acb8b4;
  display: block;
  text-decoration: none;
  padding: 0.6em 0.1em;
}

.nav-link:hover {
  background: #be3144;
}

.ham {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0em;
  right: 1em;
  margin: 1px;
  width: 2em;
  height: 2em;
  z-index: 2;
}

.ham .line {
  display: block;
  width: 1.8em;
  height: 0.2em;
  margin: 0.35em auto 0.2em auto;
  background: #acb8b4;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ham.active .line:first-child {
  -webkit-transform: rotate(45deg) translate(0.4em, 0.4em);
          transform: rotate(45deg) translate(0.4em, 0.4em);
}

.ham.active .line:nth-of-type(2) {
  opacity: 0;
}

.ham.active .line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(0.4em, -0.4em);
          transform: rotate(-45deg) translate(0.4em, -0.4em);
}

.hide {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

/* END NAVBAR */
/* START 1st WELCOME SECTION */
.welcome-section {
  background: #303841;
  font-size: 1.5em;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.welcome-section .test {
  position: relative;
  z-index: 2;
}

/* END WELCOME SECTION */
/*# sourceMappingURL=style.css.map */