@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
/* Variables */
$main-font: 'Darker Grotesque', sans-serif;
$background-color-light: #4d6680;
$background-color-dark: #303841;
$text-color-light: #acb9b5;
$nav-color: #303f50;
$hover-color: #be3144;
// $slider-width: 400px;
// $slider-height: 300px;
$slider-width: 20rem;
$slider-height: 15rem;
/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$mountain: url(../images/mountain_PNG18.png);
$me: url(../images/profilowe2.png);

/* mixins */
@mixin respond-to($media) {
  @if $media == small {
    @media (min-width: $break-small) { @content; }
  } 
  @else if $media == medium {
    @media (min-width: $break-medium) and (min-height: $break-small) { @content; }
  }
  @else if $media == large {
    @media (min-width: $break-large) and (min-height: $break-small) { @content; }
  }
  @else if $media == xlarge {
    @media (min-width: $break-xlarge) and (min-height: $break-medium) { @content; }
  }
}
@mixin bg {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@mixin fade-in {
  animation: fade-in 2s;
}
@mixin shake-infinite {
  animation: shake .6s;
  animation-iteration-count: infinite;
}
@mixin shake-few {
  animation: shake .5s;
  animation-iteration-count: 2;
}
/* animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes bounce {
  25% { transform: translateY(-0.5em); }
  75% { transform: translateY(1em); }
}

/* WEB CSS */
* {
  margin: 0;
  padding: 0;
  // border: 0.5px solid white; 
}
#canvas {
  @include bg;
  // mix-blend-mode: soft-light;
}
.bg {
  @include bg;
  background-image: $mountain;  
  // mix-blend-mode: soft-light;
}
html {
  box-sizing: border-box;
  color: $text-color-light;
  font-family: $main-font;
  /* default document font size = 16px, 1rem = 16px, 100% = 16px, 62.5% = 10px */
  font-size: 100%;
  /* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
  @include respond-to(small) { font-size: 110%; }
  @include respond-to(medium) { font-size: 120%; }
  @include respond-to(large) { font-size: 130%; }
  @include respond-to(xlarge) { font-size: 140%; }

  line-height: 1;
  scroll-behavior: smooth;  
}
body {
  background: $background-color-light;
}
.center {
  text-align: center;
}
.in-front {
  position: relative;
  z-index: 2;
}
.trans-bold {
  font-weight: bold;
  opacity: 0.7;
}
.semi-visible {
  font-size: 0.6em;;
  opacity: 0.5;
}
/* START NAVBAR */
#navbar {
  align-items: center;
  background: $nav-color;
  box-shadow: 0 0.1px 5px black; 
  display: flex;  
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 10;
  a {
    color: $text-color-light;
    text-decoration: none;
  }
}
#nav-head {
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-transform: uppercase;  
  .start-link:hover {    
    display: block;
    transition: all .2s ease-out;
    transform: scale(0.9);
  }
}
header p {
  text-align: center;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-right: 3em;
}
.nav-link {
  text-align: center;
  width: 5em;
  flex-grow: 1;
  a {
    display: block;
    padding: 0.6em 0.1em;    
  }
  &:hover {
    background: $hover-color;
  }
}
.ham {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0em;
  right: 0.5em;
  margin: 1px;
  width: 2em;
  height: 2em;
  z-index: 11;
  .line {
    display: block;
    width: 1.8em;
    height: 0.2em;    
    margin: 0.35em auto 0.2em auto;
    background: $text-color-light;
    border-radius: 3px;
    position: relative;
    transition: all .2s ease-in-out;    
  }
  &.active {
    .line:first-child{
      transform: rotate(45deg) translate(0.4em, 0.4em); 
    }
    .line:nth-of-type(2) {
      opacity: 0;
    }
    .line:nth-of-type(3) {
      transform: rotate(-45deg) translate(0.4em, -0.4em);
    }
  }
}
.hide {
  transform: translateX(120%);  
}
/* END NAVBAR */

/* START WELCOME SECTION */
#welcome-section {
  height: 100vh;
  background: $background-color-dark;
  box-shadow: 0 0 0.2rem $background-color-dark;
  text-shadow: 0px 0.5px 2px black;
  font-size: 1.6em;
}
.welcome {
  position: relative;
  transition: all .5s;
  height: 100%; 
  max-width: 60rem; 
  margin: 0 auto 0 auto;
  overflow: hidden;
  .hello {    
    padding-top: 25vmin;
    @include respond-to(small) {
      padding-top: 20vmin;
    }
    @include respond-to(large) {
      padding-top: 50vmin;
      padding-left: 10vmin;
    }
    @include respond-to(xlarge) {
      padding-top: 40vmin;
      padding-left: 10vmin;
      font-size: 1.3em;
    }
    h1, p {
      transition: all 1.5s ease-in;
    }
  }
  .profile-photo {
    position: relative;
    margin: 1em auto 0 auto;
    overflow: hidden;
    box-shadow: 0 0 0.3rem black; 
    height: 200px;
    width: 200px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    background: $text-color-light;
    z-index: 0;
    @include respond-to(small) {
      height: 8em;
      width: 8em;
    }
    @include respond-to(large) {
      position: absolute;
      bottom: 0.9rem;
      left: 0.3em;
      border-radius: 0;
      box-shadow: none;
      background: none;
      overflow: visible;
      height: 12em;
      width: 12em;
    }
    @include respond-to(xlarge) {
      height: 15em;
      width: 15em;
    }
    .photo {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 30%;
      background-image: $me;
    }
  }
}
.hide-hello {
  transform: rotateX(180deg) translateY(-200%) scale(0.01);
}
/* END WELCOME SECTION */

/* START ABOUT SECTION */
#about-section {
  overflow: hidden;
  background: $text-color-light;
  box-shadow: 0 0 0.3rem black; 
  border-radius: 0.5em;
  color: $background-color-dark;
  font-size: 1.2em;
  width: 90%;
  max-width: 60rem;
  margin: -1em auto 0 auto;
  position: relative;
}
.about {
  padding: 1em;
  transition: all 0.7s ease-out;
  h2 {
    color: black;
    font-weight: bold;
  }
}
/* END ABOUT SECTION */

/* START SKILL SECTION */
#skill-section {
  overflow: hidden;
  font-weight: normal;
  text-shadow: 0px 0.5px 2px black;
  padding-top: 1em;
  margin: 1em auto 1em auto;
  max-width: 40rem;
  width: 90%;
}
.skills {
  display: flex;
  align-items: center;
  padding: 0.5em 0 0.5em 0;
  transition: all .4s ease-in;
}
.skill-img {
  height: 3em;
  width: 3em;  
}
.skill-comment {
  padding-left: 0.2em;
  font-size: 1.1em;
  max-width: calc(100% - 3em);
}
.slide-up {
  transform: translateY(120%);
  opacity: 0;
}
/* END SKILL SECTION */

/* START PROJECT SECTION */
#project-section {
  padding-top: 1em;
  margin: 1em auto 0 auto;
  width: 100%;
  max-width: 60rem;
  font-weight: normal;
  text-shadow: 0px 0.5px 2px black;
}
#slider {
  margin: 0.5em auto 0 auto;
  background: gray;
  position: relative;
  width: $slider-width;
  height: $slider-height;
  max-width: 90vmin;
  box-shadow: 0 0 0.3rem black;  
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: $slider-width;
  height: $slider-height;
  max-width: 90vmin;
  z-index: 1;
}
.slides {
  display: flex;
  position: relative;
  top: 0;
  left: -$slider-width;
  width: 10000px;
}
.slides.shifting {
  transition: left .2s ease-out;
}
.slide {
  font-size: 2em;
  width: $slider-width;
  height: $slider-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: green;
  max-width: 90vmin;
  img {
    width: 80%;
    height: 80%;
    background: #b89f72;
  }
}
#prev, #next {
  border-radius: 5%;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: calc(50% - 1.5em);
  padding: 1em .5em 1em .5em;
  z-index: 2;
  &:hover{
    background:$hover-color;
    box-shadow: 0 0 0.5rem black;
  }  
}
#next {
  right: 0;
}
.projectName {

}
/* END PROJECT SECTION */

/* START CONTACT SECTION */
#contact-section {
  background: $background-color-dark;
  font-size: 1.6em;
  margin: -1em auto 0 auto;
  padding: 2em 0 1em 0;
  box-shadow: 0 0 0.2rem $background-color-dark;
  text-shadow: 0px 0.5px 2px black;
}
.contact-icons {
  display: flex;
  margin: 0.5em auto 0 auto;
  max-width: 50em;
  width: 95%;
  justify-content: center;
  .contact-text {
    text-decoration: none;
    color: white;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    margin: 0.1em 0.3em;
    transition: all 0.2s ease-out 0.1s;
    &:hover {
      transform: scale(1.2);
      color: $hover-color;
      font-weight: bold;
    }
  }  
  .icon {
    max-height: 1em;
    max-width: 50%;
    margin-top: 0.2em;
  }
}
.bounce {
  animation: bounce 1.0s ease-in-out;
}

/* END CONTACT SECTION */
