@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
/* Variables */
$main-font: 'Darker Grotesque', sans-serif;
$background-color-light: #4d6680;
$background-color-dark: #303841;
$text-color-light: #acb8b4;
$nav-color: #303f50;
$hover-color: #be3144;
/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$mountain: url(/public/images/mountain_PNG18.png);

/* mixins */
@mixin respond-to($media) {
  @if $media == small {
    @media (min-width: $break-small) { @content; }
  } 
  @else if $media == medium {
    @media (min-width: $break-medium) { @content; }
  }
  @else if $media == large {
    @media (min-width: $break-large) { @content; }
  }
  @else if $media == xlarge {
    @media (min-width: $break-xlarge) { @content; }
  }
}
@mixin bg {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@mixin fade-in {
  animation: fade-in 2s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  // border: 0.5px solid white; 
}
#particles-js {
  @include bg;
}
.bg {
  @include bg;
  background-image: $mountain;  
  // mix-blend-mode: soft-light;
}
html {
  box-sizing: border-box;
  color: $text-color-light;
  font-family: $main-font;
  /* default document font size = 16px, 1rem = 16px, 100% = 16px, 62.5% = 10px */
  font-size: 100%;
  /* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
  @include respond-to(small) { font-size: 110%; }
  @include respond-to(medium) { font-size: 120%; }
  @include respond-to(large) { font-size: 130%; }
  @include respond-to(xlarge) { font-size: 140%; }

  line-height: 1;
  scroll-behavior: smooth;  
}
body {
  background: $background-color-light;
}
.center {
  text-align: center;
}
.in-front {
  position: relative;
  z-index: 2;
}
.trans-bold {
  font-weight: bold;
  opacity: 0.7;
}
.semi-visible {
  font-size: 0.6em;;
  opacity: 0.5;
}
/* START NAVBAR */
#navbar {
  background: $nav-color;
  box-shadow: 0 0.1px 5px black; 
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 1;
}
#nav-head {
  padding-left: 0.3em;
  text-transform: uppercase;
}
header p {
  text-align: center;
}
.nav-list {
  display: flex;
  list-style: none;
  padding-right: 4em;
}
.nav-link {
  text-align: center;
  width: 5em; 
  a {
    color: $text-color-light;
    display: block;    
    text-decoration: none;
    padding: 0.6em 0.1em;    
  }
  &:hover {
    background: $hover-color;
  }
}
.ham {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0em;
  right: 1em;
  margin: 1px;
  width: 2em;
  height: 2em;
  z-index: 2;
  .line {
    display: block;
    width: 1.8em;
    height: 0.2em;    
    margin: 0.35em auto 0.2em auto;
    background: $text-color-light;
    border-radius: 3px;
    position: relative;
    transition: all .2s ease-in-out;    
    // &:first-child {
    //   transform-origin: 0% 0%;      
    // }
    // &:nth-of-type(2) {
    //   transform-origin: 0% 0%;      
    // }
    // &:nth-of-type(3) {
    //   transform-origin: 0% 100%;      
    // }
  }
  &.active {
    .line:first-child{
      transform: rotate(45deg) translate(0.4em, 0.4em); 
    }
    .line:nth-of-type(2) {
      opacity: 0;
    }
    .line:nth-of-type(3) {
      transform: rotate(-45deg) translate(0.4em, -0.4em);
    }
  }
}
.hide {
  transform: translateX(120%);
}
/* END NAVBAR */

/* START WELCOME SECTION */
#welcome-section {
  background: $background-color-dark;
  font-size: 1.5em;
  padding: 4rem 0 2rem 0;
  // height: 50vh;
  // text-align: center;
  // opacity: 0.8;  
}
/* END WELCOME SECTION */

/* START ABOUT SECTION */
#about-section {
  background: $text-color-light;
  box-shadow: 0 0 0.3rem black; 
  border-radius: 0.5em;
  color: $nav-color;
  font-size: 1.2em;
  width: 90%;
  max-width: 50rem;
  margin: 2em auto 0 auto;
  position: relative;
}
.about {
  padding: 1em;
  h2 {
    color: black;
    font-weight: bold;
  }
}
/* END ABOUT SECTION */

/* START SKILL SECTION */
#skill-section {
  font-weight: normal;
  text-shadow: 0px 0.5px 2px black;
  margin: 2em auto 0 auto;
  max-width: 30em;
  width: 80%;
  
}
/* END SKILL SECTION */

