@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap");
/* Variables */
/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
/* mixins */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

#canvas {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bg {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/public/images/mountain_PNG18.png);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #acb9b5;
  font-family: "Darker Grotesque", sans-serif;
  /* default document font size = 16px, 1rem = 16px, 100% = 16px, 62.5% = 10px */
  font-size: 100%;
  /* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
  line-height: 1;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 130%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 140%;
  }
}

body {
  background: #4d6680;
}

.center {
  text-align: center;
}

.in-front {
  position: relative;
  z-index: 2;
}

.trans-bold {
  font-weight: bold;
  opacity: 0.7;
}

.semi-visible {
  font-size: 0.6em;
  opacity: 0.5;
}

/* START NAVBAR */
#navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #303f50;
  -webkit-box-shadow: 0 0.1px 5px black;
          box-shadow: 0 0.1px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 10;
}

#nav-head {
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-transform: uppercase;
}

header p {
  text-align: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-right: 3em;
}

.nav-link {
  text-align: center;
  width: 5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-link a {
  color: #acb9b5;
  display: block;
  text-decoration: none;
  padding: 0.6em 0.1em;
}

.nav-link:hover {
  background: #be3144;
}

.ham {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0em;
  right: 0.5em;
  margin: 1px;
  width: 2em;
  height: 2em;
  z-index: 11;
}

.ham .line {
  display: block;
  width: 1.8em;
  height: 0.2em;
  margin: 0.35em auto 0.2em auto;
  background: #acb9b5;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ham.active .line:first-child {
  -webkit-transform: rotate(45deg) translate(0.4em, 0.4em);
          transform: rotate(45deg) translate(0.4em, 0.4em);
}

.ham.active .line:nth-of-type(2) {
  opacity: 0;
}

.ham.active .line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(0.4em, -0.4em);
          transform: rotate(-45deg) translate(0.4em, -0.4em);
}

.hide {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

/* END NAVBAR */
/* START WELCOME SECTION */
#welcome-section {
  background: #303841;
  font-size: 1.6em;
  height: 100vh;
  -webkit-box-shadow: 0 0 0.2rem #303841;
          box-shadow: 0 0 0.2rem #303841;
  text-shadow: 0px 0.5px 2px black;
}

#welcome-section div {
  top: 30%;
}

/* END WELCOME SECTION */
/* START ABOUT SECTION */
#about-section {
  background: #acb9b5;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  border-radius: 0.5em;
  color: #303841;
  font-size: 1.2em;
  width: 90%;
  max-width: 50rem;
  margin: -1em auto 0 auto;
  position: relative;
}

.about {
  padding: 1em;
}

.about h2 {
  color: black;
  font-weight: bold;
}

/* END ABOUT SECTION */
/* START SKILL SECTION */
#skill-section {
  font-weight: normal;
  text-shadow: 0px 0.5px 2px black;
  margin: 2em auto 0 auto;
  max-width: 30em;
  width: 90%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0 0.5em 0;
}

.skill-img {
  height: 3em;
  width: 3em;
}

.skill-comment {
  padding-left: 0.2em;
  font-size: 1.1em;
  max-width: calc(100% - 3em);
}

/* END SKILL SECTION */
/* START PROJECT SECTION */
#project-section {
  display: -ms-grid;
  display: grid;
  width: 90%;
  max-width: 60em;
}

/* END PROJECT SECTION */
/*# sourceMappingURL=style.css.map */